@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./componets/table", "./componets/tag-pill",
    "./componets/drop-down-list";

.material-icons {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    &.text-xs{
        font-size: 1.1rem;
    }
    &.text-sm{
        font-size: 1.3rem;
    }
}

.link{
    @apply block text-sm font-bold text-cyan-600 hover:text-cyan-800 no-underline;
}