.tag-pill {
    display: inline-block;
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: 600;
    line-height: 1.25;

    .tag-pill__bg {
        position: absolute;
        inset: 0;
        border-radius: 9999px;
        opacity: 0.5;
    }

    color: #134e4a;
    .tag-pill__bg {
        background-color: #99f6e4;
    }

    &.active,
    &.paid {
        color: #064e3b;
        .tag-pill__bg {
            background-color: #a7f3d0;
        }
    }
    &.hold {
        color: #164e63;
        .tag-pill__bg {
            background-color: #67e8f9;
        }
    }
    &.blacklisted {
        color: #e5e7eb;
        .tag-pill__bg {
            background-color: #111827;
        }
    }
    &.removed,
    &.exceeded {
        color: #7f1d1d;
        .tag-pill__bg {
            background-color: #fecaca;
        }
    }
    &.pending,
    &.archived {
        color: #ca8a04;
        .tag-pill__bg {
            background-color: #fef08a;
        }
    }
    &.finished {
        color: #701a75;
        .tag-pill__bg {
            background-color: #f5d0fe;
        }
    }

    .tag-pill__content {
        position: relative;
    }
}
